.table-view .column-header {
     -fx-background-color: transparent;
} 

.table-view .column-header-background{
}

.table-view .column-header-background .label{
    -fx-background-color: transparent; 
    -fx-font-weight:bold;
    -fx-text-fill: #555555;
}

.table-view .table-column{
    -fx-border-color: #C8C8C8;
    -fx-border-width: 1 2 0 2;
}

.table-view .table-cell{
    -fx-border-color: #C8C8C8;
    -fx-border-width: 1;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}